# ETL Process for HR Data

This notebook implements an ETL (Extract, Transform, Load) process for HR data, following best practices and PEP standards.

## Process Overview:
1. Extract: Read data from CSV files
2. Transform: Clean, validate, and structure data
3. Load: Create relational database structure and load processed data

### Features:
- Proper error handling and logging
- Type hints (PEP 484)
- Docstrings (PEP 257)
- Class-based design
- Data validation and cleaning
- Relational database with proper foreign keys

In [1]:
# Import required libraries
import pandas as pd
import numpy as np
from pathlib import Path
import sqlite3
from datetime import datetime
import logging
from typing import Dict, List, Optional

# Configure logging
logging.basicConfig(
    level=logging.INFO,
    format='%(asctime)s - %(levelname)s - %(message)s'
)

In [2]:
# Load the ETL process code
with open('etl_process.py', 'r') as file:
    etl_code = file.read()

# Execute the ETL code
exec(etl_code)

2024-12-16 12:18:01,772 - INFO - Successfully loaded HR_ALL_ADDRESSES_20241216.csv
2024-12-16 12:18:01,772 - INFO - Added DataFrame for HR
2024-12-16 12:18:01,776 - INFO - Successfully loaded PER_ALL_ASSIGNMENTS_F_20241216.csv
2024-12-16 12:18:01,777 - INFO - Added DataFrame for PER
2024-12-16 12:18:01,783 - INFO - Successfully loaded PER_ALL_PEOPLE_F_20241216.csv
2024-12-16 12:18:01,784 - INFO - Added DataFrame for PER
2024-12-16 12:18:01,785 - INFO - Added index to HR
2024-12-16 12:18:01,786 - INFO - Added index to PER
2024-12-16 12:18:01,787 - INFO - Cleaned column names for HR
2024-12-16 12:18:01,788 - INFO - Cleaned column names for PER
2024-12-16 12:18:01,796 - INFO - Processed people data
2024-12-16 12:18:01,798 - INFO - Processed assignments data
2024-12-16 12:18:01,802 - INFO - Processed addresses data
2024-12-16 12:18:01,803 - INFO - Connected to database
2024-12-16 12:18:01,822 - INFO - Created table: per
2024-12-16 12:18:01,838 - INFO - Created table: assignments
2024-12-16 12:18:01,852 - INFO - Created table: addresses
2024-12-16 12:18:01,853 - INFO - Created table relationships
2024-12-16 12:18:01,854 - INFO - Closed database connection
2024-12-16 12:18:01,854 - INFO - ETL process completed successfully

## Run the ETL Process

In [3]:
# Run the main ETL process
if __name__ == "__main__":
    main()

2024-12-16 12:18:01,873 - INFO - Successfully loaded HR_ALL_ADDRESSES_20241216.csv
2024-12-16 12:18:01,874 - INFO - Added DataFrame for HR
2024-12-16 12:18:01,877 - INFO - Successfully loaded PER_ALL_ASSIGNMENTS_F_20241216.csv
2024-12-16 12:18:01,879 - INFO - Added DataFrame for PER
2024-12-16 12:18:01,883 - INFO - Successfully loaded PER_ALL_PEOPLE_F_20241216.csv
2024-12-16 12:18:01,884 - INFO - Added DataFrame for PER
2024-12-16 12:18:01,884 - INFO - Added index to HR
2024-12-16 12:18:01,885 - INFO - Added index to PER
2024-12-16 12:18:01,886 - INFO - Cleaned column names for HR
2024-12-16 12:18:01,886 - INFO - Cleaned column names for PER
2024-12-16 12:18:01,891 - INFO - Processed people data
2024-12-16 12:18:01,895 - INFO - Processed assignments data
2024-12-16 12:18:01,901 - INFO - Processed addresses data
2024-12-16 12:18:01,903 - INFO - Connected to database
2024-12-16 12:18:01,918 - INFO - Created table: per
2024-12-16 12:18:01,932 - INFO - Created table: assignments
2024-12-16 12:18:01,946 - INFO - Created table: addresses
2024-12-16 12:18:01,947 - INFO - Created table relationships
2024-12-16 12:18:01,948 - INFO - Closed database connection
2024-12-16 12:18:01,949 - INFO - ETL process completed successfully

## Verify Data Loading

Let's verify that our data was loaded correctly by running some example queries:

In [4]:
def verify_data():
    """Run verification queries on the loaded data."""
    conn = sqlite3.connect('hr_database.sqlite')
    
    # Query 1: Count records in each table
    tables = ['per', 'assignments', 'addresses']
    print("Record counts:")
    for table in tables:
        query = f"SELECT COUNT(*) as count FROM {table}"
        count = pd.read_sql_query(query, conn).iloc[0, 0]
        print(f"{table}: {count} records")
    
    # Query 2: Sample data from people table
    print("\nSample people data:")
    query = "SELECT name, job, company, age FROM per LIMIT 5"
    print(pd.read_sql_query(query, conn))
    
    # Query 3: Sample addresses
    print("\nSample addresses:")
    query = "SELECT street_address, city, country FROM addresses LIMIT 5"
    print(pd.read_sql_query(query, conn))
    
    conn.close()

verify_data()

Record counts:
per: 1000 records
assignments: 1000 records
addresses: 1000 records

Sample people data:
              name                         job                   company  age
0     Sharon Jones                      Dancer                Walker PLC   13
1      Amy Roberts                Video editor  Herman, Henry and Taylor    5
2  Andrew Meyer MD                      Writer              Callahan Inc   33
3   Shannon Hansen           Social researcher               Roberts Inc   35
4     Julie Taylor  Civil engineer, consulting         Williamson-Bryant   12

Sample addresses:
                 street_address         city                           country
0           7738 Oconnor Forges    Tatehaven                           Iceland
1   05547 Hodges Port Suite 337  Anthonyberg                              Oman
2  7896 Sabrina Union Suite 137   Garzahaven                  Marshall Islands
3              453 Michael Rest   Sandrabury                            Bhutan
4               3627 Lewis Oval  Simmonsfurt  Saint Vincent And The Grenadines

## Database Schema

The ETL process creates the following tables:

1. `per` - People information
   - per_id (PRIMARY KEY)
   - name
   - nino (National Insurance Number)
   - job
   - company
   - date_of_birth
   - age

2. `assignments` - Job assignments
   - assignments_id (PRIMARY KEY)
   - job
   - company
   - date_joined

3. `addresses` - Address information
   - addresses_id (PRIMARY KEY)
   - street_address
   - city
   - country
   - postcode

4. `person_assignments` - Relationship table
   - id (PRIMARY KEY)
   - per_id (FOREIGN KEY)
   - assignment_id (FOREIGN KEY)

5. `person_addresses` - Relationship table
   - id (PRIMARY KEY)
   - per_id (FOREIGN KEY)
   - address_id (FOREIGN KEY)