# SQLite Basics

## Learning Objectives
- Understand SQLite database fundamentals
- Learn basic SQL queries
- Practice database operations

## Topics Covered
1. Creating databases and tables
2. Basic CRUD operations
3. SQL queries and joins
4. Database management

In [ ]:
import sqlite3
import pandas as pd

# Create a new database
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

# Create a sample table
cursor.execute("""
CREATE TABLE IF NOT EXISTS employees (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    department TEXT,
    salary REAL
)
""")

# Insert sample data
cursor.execute("""
INSERT INTO employees (name, department, salary)
VALUES 
    ('John Doe', 'IT', 75000),
    ('Jane Smith', 'HR', 65000),
    ('Bob Johnson', 'Finance', 80000)
""")

conn.commit()

# Query the data
df = pd.read_sql_query("SELECT * FROM employees", conn)
print(df)

conn.close()